<div class="card" id="<%= dom_id @comment %>">
  <p style="color: green"><%= notice %></p>
  <div class="card-header">
    <%= @comment.name %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= @comment.content %>
    </p>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <%= link_to 'Edit', edit_line_item_comment_path(@item, @comment), class: "btn btn-warning", data: { turbo: false } %>
      <%= button_to 'Destroy', line_item_comment_path(@item, @comment), method: :delete, class: 'btn btn-outline-primary', class: "btn btn-danger", form: { data: { turbo_confirm: 'Are you sure?' }} %>
    </div>
  </div>
</div>
