<tr id="<%= dom_id history %>">
  <td class="align-middle"><%= history.name %></td>
  <td class="align-middle"><%= history.booked_amount %></td>
  <td class="align-middle"><%= history.actual_amount %></td>
  <td class="align-middle"><%= history.adjustments %></td>
  <td class="align-middle"><%= history.created_at %></td>
</tr>
