<div id="<%= dom_id line_item %>">
  <p>
    <strong>Name:</strong>
    <%= line_item.name %>
  </p>

  <p>
    <strong>Booked amount:</strong>
    <%= line_item.booked_amount %>
  </p>

  <p>
    <strong>Actual amount:</strong>
    <%= line_item.actual_amount %>
  </p>

  <p>
    <strong>Adjustments:</strong>
    <%= line_item.adjustments %>
  </p>

</div>
